/* Base */
.toast {
  position: fixed;
  top: var(--spacing-3);
  left: 0;
  right: 0;
  z-index: 1400;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.toast__list {
  display: flex;
  flex-direction: column;
  gap: var(--toast-gap);
  max-width: 480px;
  width: 100%;
  padding: 0 var(--spacing-4);
}

/* toast item */
.toast__item {
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-toast-background);
  color: var(--color-text-primary);
  border: 1px solid var(--color-toast-border);

  border-radius: var(--radius-full);
  padding: var(--toast-padding);
  box-shadow: var(--shadow-md);
  font-size: var(--font-size-sm);
}

/* Types */
.toast__item--type-info {
  background-color: var(--color-info);
  color: var(--color-info-text);
  border-color: var(--color-info);
}

.toast__item--type-success {
  background-color: var(--color-success);
  color: var(--color-success-text);
  border-color: var(--color-success);
}

.toast__item--type-error {
  background-color: var(--color-error);
  color: var(--color-error-text);
  border-color: var(--color-error);
}

.toast__item--type-warning {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
  border-color: var(--color-warning);
}

/* Content */
.toast__content {
  display: flex;
  align-items: center;
  gap: var(--toast-icon-gap);
  flex: 1;
  min-width: 0;
}

.toast__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
}

.toast__message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Close button */
.toast__close {
  border: none;
  background: transparent;
  cursor: pointer;
  color: currentColor;
  opacity: 0.8;
  font-size: var(--font-size-lg);
  padding: 0 var(--spacing-1) 0 var(--spacing-2);
  line-height: 1;
}

.toast__close:hover {
  opacity: 1;
}
