.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.container--xl {
  max-width: 1440px;
}

.container--lg {
  max-width: 1200px;
}

.container--md {
  max-width: 960px;
}

.container--sm {
  max-width: 640px;
}

.container--full {
  max-width: none;
}

@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
