/* Base */
.input {
  width: 100%;
  box-sizing: border-box;

  border-radius: var(--radius-md);
  border: 1px solid var(--color-input-border);

  background-color: var(--color-input-background);
  color: var(--color-input-text);

  font-size: var(--font-size-sm);
  line-height: 1.4;

  padding: var(--input-padding-md);
}

/* Sizes */
.input--sm {
  padding: var(--input-padding-sm);
  font-size: var(--font-size-xs);
}

.input--md {
  padding: var(--input-padding-md);
  font-size: var(--font-size-sm);
}

.input--lg {
  padding: var(--input-padding-lg);
  font-size: var(--font-size-md);
}

/* Full width */
.input--full-width {
  width: 100%;
  display: block;
}

/* Focus */
.input:focus {
  outline: none;
  border-color: var(--color-input-border-focus);
}

/* Error */
.input--error {
  border-color: var(--color-error);
}

.input--error:focus {
  border-color: var(--color-error-hover);
}

/* Disabled */
.input:disabled {
  background-color: var(--color-input-disabled-background);
  color: var(--color-input-disabled-text);
  cursor: not-allowed;
}

/* Placeholder */
.input::placeholder {
  color: var(--color-input-placeholder);
}
