/* Base */
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;

  font-weight: 500;
  cursor: pointer;

  border-radius: var(--radius-md);
  border: 1px solid transparent;

  user-select: none;
  white-space: nowrap;
}

/* Sizes */
.button--sm {
  padding: var(--button-padding-sm);
  font-size: var(--font-size-xs);
}

.button--md {
  padding: var(--button-padding-md);
  font-size: var(--font-size-sm);
}

.button--lg {
  padding: var(--button-padding-lg);
  font-size: var(--font-size-md);
}

/* Full width */
.button--full-width {
  width: 100%;
}

/* Variants */
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.button--primary:not(.button--disabled):not(.button--loading):hover {
  background-color: var(--color-primary-hover);
}

.button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
}

.button--secondary:not(.button--disabled):not(.button--loading):hover {
  background-color: var(--color-secondary-hover);
}

.button--outline {
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
  color: var(--color-primary);
}

.button--outline:not(.button--disabled):not(.button--loading):hover {
  color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.button--danger {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}

.button--danger:not(.button--disabled):not(.button--loading):hover {
  background-color: var(--color-danger-hover);
}

/* Disabled */
.button--disabled,
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button__content {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
